# dependencies
node_modules/

# env files
.env

# logs
logs
*.log
npm-debug.log*

# build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# vscode
.vscode/

# frontend
frontend/node_modules/

# backend
backend/node_modules/